.home-container {
  text-align: center;
  flex: 1; 
  margin: 2rem auto;
  max-width: 800px;
  padding: 3rem 2rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px; 
}

.home-title {
  font-size: 2rem; 
  color: var(--dark-color);
  margin-bottom: 1rem;
}


.img_product{
  font-size: 6px;
  width: 200px;
  height: 200px;
  background-color: #ffff;
  border-radius: 12px;
  color: white;
  box-shadow: 2px 2px 4px #a1a1a1;
 
}

.img_produto {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Hover individual */
.img_produto > *:hover {
  background-color: aqua;
  cursor: pointer;
  transition: 0.3s;
}